@import '../../styles/Config.scss';
@import '../../styles/Mixins.scss';

.host {
  @include container();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.link {
  @include h3;
  text-decoration: none;
}

.logo {
  @include h1;
  text-decoration: none;
}
