@import '../styles/Config.scss';
@import '../styles/Mixins.scss';


.host {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}

.spacer {
  @include h2;

  margin: 0 $gutter;
}

.title {
  color: $color-heading;
  font-size: 212px;
  font-family: $family-fancy;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

}

.link {
  @include h2;
  text-decoration: none;
}
