@import '../../styles/Config.scss';
@import '../../styles/Mixins.scss';

.host {
  flex: 1;

  min-width: 260px;
  width: 100%;

  transition: opacity 125ms ease-in-out;
  @media (min-width: 500px) {
    padding: $gutter / 2;
    min-width: 360px;
  }
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.isOpen {
  min-width: 100%;
}

.title {
  margin: 15px 0 0;

  @media (min-width: 500px) {
    margin: 30px 0 0;
  }
}

.buttonContainer {
  margin: -8px;

  transform: scale(0.8);

  transition: transform 125ms ease-in;

  @include viewport(tablet) {
    transform: scale(1);
  }
}

.iconButton {
  opacity: 0.55;

  margin: 0 8px;

  border: 0;

  background-color: transparent;

  transition: 125ms opacity ease-in-out;

  &:hover {
    opacity: 1;
  }
}


.line {
  height: 1px;

  color: $color-alto;
}

.clipboardContainer {
  display: flex;
  margin: 15px -8px;
}

.clipboardInput {
  flex: 1;

  padding: 10px 15px;
  margin: 0 8px;

  font-size: 13px;
  font-style: $family-work;
  color: $color-text;

  border: 0;
  border-bottom: 1px solid rgba(221, 221, 221, 0.55);

  background-color: transparent;
}


.ul {
  flex: 1;
  margin: $gutter / 2  $gutter / 2 $gutter 0;
  padding: 0 0 0 15px;

  list-style: none;
}

.li {
  font-family: $family-work;
  font-size: 18px;
  line-height: 2.5;
  color: $color-text;


  &::before {
    content: '\3004';

    margin-right: 20px;

    font-size: 0.8em;
  }
}

.item {
  font-family: $family-work;
  font-weight: 300;
  font-size: 15px;
  color: $color-text;

  background-color: transparent;
  border: 0;

  transition: box-shadow 125ms ease-in-out;

  &:hover {
    box-shadow: 0 1px 0 $color-alto;
  }

  @include viewport(tablet) {
    margin-bottom: 1em;
    font-size: 18px;
  }
}

.button {
  opacity: 0;

  transition: opacity 125ms ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.newItem {
  display: inline;
}


.container {
  display: flex;
}

.details {
  flex: 1;
}

.side {
  flex: 1;
}
