@import '../../styles/Config.scss';
@import '../../styles/Mixins.scss';


.host {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}

.title {
  color: $color-heading;
  font-size: 55px;
  font-family: $family-fancy;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  @include viewport(tablet) {
    font-size: 120px;
  }
  @include viewport(desktop) {
    font-size: 212px;
  }
}
