@import '../../styles/Config.scss';
@import '../../styles/Mixins.scss';

.host {
  margin: auto;
  padding: 0 0 $gutter;
  width: 100%;
  max-width: 480px;
}

.errorMessage {
  margin-bottom: 20px;
  text-align: center;
}

.container {
  height: 90px;
}

.error {
  margin-top: 30px;

  text-align: center;
}

.button {
  @include h4;

  display: block;
  margin: 0 auto;

  width: 100%;

  text-align: center;

  color: transparentize($color-text, 0.2);

  background-color: transparent;
  border: 0;

  transition:
    color 125ms ease-in-out,
    box-shadow 125ms ease-in-out;

  &:hover {
    color: $color-text;
    box-shadow: 0 1px 0 0 $color-text;
  }
}
