@import '../../styles/Config.scss';
@import '../../styles/Mixins.scss';

.host {
  @include container();

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex: 1;

  width: 100%;
  max-width: 500px;
}

.container {
  height: 140px;
}

.error {
  margin-top: 30px;

  text-align: center;
}

.button {
  @include h3;

  width: 100%;
  max-width: 80%;

  color: transparentize($color-text, 0.5);

  background-color: transparent;
  border: 0;
  outline: none;

  transition:
    color 125ms ease-in-out,
    border-bottom 125ms ease-in-out;

  &:hover {
    color: $color-text;
    border-bottom: 1px solid $color-text;
  }

  &:focus {
    color: $color-text;
    border-bottom: 1px solid $color-text;
  }
}
