@import '../../styles/Config.scss';
@import '../../styles/Mixins.scss';

.host {
  @include container();
}
.content {
  display: flex;
}

.list {
  flex: 1;
}

.ul {
  flex: 1;
  margin: $gutter $gutter / 2 $gutter 0;
  padding: 0 0 0 15px;

  list-style: none;
}

.li {
  font-family: $family-work;
  font-size: 18px;
  line-height: 2.5;
  color: $color-text;


  &::before {
    content: '\3004';

    margin-right: 20px;

    font-size: 0.8em;
  }
}

.item {
  font-family: $family-work;
  font-size: 18px;
  line-height: 2.5;
  color: $color-text;

  background-color: transparent;
  border: 0;

  &:hover {
    text-decoration: underline;
    // text-decoration-style: wavy;
  }
}
