// stylelint-disable selector-no-type
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,700|Work+Sans:300,400&subset=latin-ext');
@import './Config.scss';
@import './Mixins.scss';


h1 { // Top Logo
  @include h1;
}

h2 { // Login & Tell me More
  @include h2;
}

h3 { //New Items & Share
  @include h3;
}

h4 { // List heading
  @include h4;
}

* {
  box-sizing: border-box;

  &:focus {
    outline-color: #fff;
    outline-style: dotted;
    outline-width: 2px;
  }
}

body {
  margin: 0;

  color: $color-text;
  font-family: $family-work;

  background: $color-background;
  background-image: url('../../../static/images/bringthenoise50.jpg');
  background-repeat: repeat;
}

html {
  background: $color-background;

  -webkit-overflow-scrolling: touch;

  overflow-x: hidden;
  overflow-y: auto;
}
