// Colors

$color-codGray: #0a0a0a;
$color-alto: #ddd;

$color-background: $color-codGray;
$color-heading: $color-alto;
$color-text: $color-alto;


$family-fancy: 'Josefin Slab', serif;
$family-work: 'Work Sans', sans-serif;
