@import '../../styles/Config.scss';
@import '../../styles/Mixins.scss';

.host {
  @include container();

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 2 * $gutter-desktop;
}

.bottom {
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
}
