@import '../../styles/Config.scss';
@import '../../styles/Mixins.scss';

.host {
  @include container;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  top: 0;
  left: 0;
  right: 0;

  height: 1.5 * $gutter-desktop;
  width: 100%;

  @include viewport(desktop) {
    height: 2 * $gutter-desktop;
  }
}
