@import '../../styles/Config.scss';
@import '../../styles/Mixins.scss';

.host {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo {
  @include h1;
  text-decoration: none;
}
