@import '../../styles/Config.scss';
@import '../../styles/Mixins.scss';

.host {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 15px 15px 10px;
}


.logo {
  @include h1;
  width: 100%;
  text-decoration: none;
}
