@import '../../styles/Config.scss';
@import '../../styles/Mixins.scss';

.host {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  @include h3;
  text-decoration: none;

  &:hover {
    color: $color-text;
    border-bottom: 1px solid $color-text;
  }
}

.logo {
  @include h1;
  text-decoration: none;
}
